<div class="card">
    <img
      [src]="doctor.picture"
      alt="Doktor"
      width="90%"
      height="90%"
      class="image"
    />
    <div class="nameBox">
    <h1>{{doctor.name}}</h1>
    </div>
    <p class="sala" *ngIf="isShown">{{doctor.room}}</p>
    <p class="description">{{doctor.description}}</p>
    <p>
      <span class = "zauzece" *ngIf ="doctor.appointmentCount > 0">Zauzet!! </span>
      <span appBrownEl class = "odelj">Odeljenje: {{doctor.department}}</span>
      
      <button
      *ngIf="!isAppointmentPage"
      [ngClass]="{ classButtonClick: buttonClick}"
      (click)="onAddAppointment()"
    >
      Zakazi pregled
    </button>
    <button
    *ngIf="isAppointmentPage"
      [ngClass]="{ classButtonClick: buttonClick}"
      (click)="onRemoveAppointment()"
    >
      Otkazi pregled
    </button>

    </p>
  </div>
  