.card {
    max-width:100px;
    margin: 20px;
    text-align: center;
    font-family: arial;
    border-radius: 30px;
    background: linear-gradient(120deg, #98a9c0, #7ec9da);
    box-shadow: 10px 10px 20px#9c9c9c, -10px -10px 20px#ffffff;
  }
  
  .image {
    padding-top: 3%;
    position: relative;
    padding-left: 10%;
    align-items: flex-end;
  }
  
  .description {
    text-align:start;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .sala {
    color: rgb(187, 228, 3);
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    margin-top: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    border-radius: 15px 15px 15px 15px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .container {
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(120deg, #c6d7ef, #7ec9da);
    border-radius: 20px;
  }

 .titleclass { 
  background-color: #c6d7ef;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
 }
 .display-2{
  color: rgb(143, 41, 110);
  background: linear-gradient(120deg, #97a7bf, #72adb9);
  text-shadow: 3px 3px #5a5353;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-color: rgb(25, 7, 105);
  border-style: inset;
  padding-bottom: 10px;
 }
//  html { background-color: black; }
.search-div{
  margin-top: 20px;
  border-color: rgb(149, 4, 142);
  border-style: solid;
  max-height: 120px;
  max-width: 400px;
  padding: 15px;
  color: #8a1b84;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  background-color: #a87aaf;
  border-radius: 10px;
  box-shadow: 10px 10px;
}
.input-class{
  border-radius: 5px;
  border-style: solid;
  border-color: #8a1b84;
}